<section class="page-banner">
	<div class="container">
		<div class="page-banner-in">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-12">
					<h1 class="page-banner-title text-uppercase">Contact Us</h1>
				</div>
				<div class="col-xl-6 col-lg-6 col-12">
					<ul class="right-side">
						<li><a routerLink="/">Home</a></li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact pt-100">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-12">
				<div class="contact-info">
					<h2 class="contact-title text-uppercase">Contact Info</h2>
					<ul class="contact-list">
						<li>
							<img src="assets/images/cont-1.png" alt="img">
							<div class="contact-content">
								<h3>Address</h3>
								<p>28 Green Tower, Street Name <br>New York City, USA</p>
							</div>
						</li>
						<li>
							<img src="assets/images/cont-2.png" alt="img">
							<div class="contact-content">
								<h3>Phone</h3>
								<p><a href="tel:+911234567890">+ 91 123 456 789 0</a></p>
							</div>
						</li>
						<li>
							<img src="assets/images/cont-3.png" alt="img">
							<div class="contact-content">
								<h3>Email</h3>
								<p><a href="mailto:&#64;">&#64;</a></p>
							</div>
						</li>
					</ul>
					<div class="social-icon">
						<h3>Follow Us</h3>
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="contact-form">
					<h2 class="contact-title text-uppercase">Send Message</h2>
					<form>
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Name" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-12">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Your Email" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Subject" required>
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="5" placeholder="Your Message" required></textarea>
						</div>
						<button type="submit" class="btn btn-color">Send Message</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="map-section">
	<div class="container-fluid p-0">
		<div class="map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.30591910525!2d-74.25986532999999!3d40.6971494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2s!4v1647681234567!5m2!1sen!2s"
				width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</section>

<section class="newsletter pt-100">
	<div class="container">
		<div class="newsletter-inner text-center ptb-100">
			<h2 class="newsletter-title">Sign up for Newsletter</h2>
			<p class="newsletter-sub">Wants to get latest updates! sign up for Free</p>
			<form>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Your email address" required>
				</div>
				<button type="submit" class="form-btn text-uppercase">
					<span class="sub-r">Subscribe</span>
					<i class="fa fa-send icon-r"></i>
				</button>
			</form>
		</div>
	</div>
</section>

<div class="top-scrolling">
	<a href="#main" class="scrollTo"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>