<div class="top-scrolling">
	<a href="#main" class="scrollTo"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>

<div class="about-container">
	<h1 class="about-title">Về chúng tôi</h1>
	<div class="about-intro">
		<div class="about-intro-icon"><i class="fa fa-apple"></i></div>
		<div class="about-intro-content">
			<p><strong>HungApple</strong> là website chuyên cung cấp các sản phẩm Apple chính hãng với giá tốt nhất thị trường. Chúng tôi cam kết mang đến trải nghiệm mua sắm hiện đại, dịch vụ tận tâm và hậu mãi chu đáo cho khách hàng yêu công nghệ.</p>
			<p>Sứ mệnh của chúng tôi là trở thành địa chỉ tin cậy cho cộng đồng yêu thích sản phẩm Apple tại Việt Nam.</p>
		</div>
	</div>
	<div class="about-profile-card">
		<div class="about-profile-avatar">
			<img class="about-avatar" src="https://ui-avatars.com/api/?name=Truong+Hoang+Hung&background=007bff&color=fff&rounded=true&size=140" alt="avatar">
		</div>
		<div class="about-profile-info">
			<div class="about-profile-name">Trương Hoàng Hưng</div>
			<div class="about-profile-row"><i class="fa fa-phone"></i> 0965106829</div>
			<div class="about-profile-row"><i class="fa fa-envelope"></i> <a href="mailto:hoanghung52304@gmail.com" class="about-profile-email">hoanghung52304&#64;gmail.com</a></div>
			<div class="about-profile-row"><i class="fa fa-users"></i> Lớp: <span>DA21TTA</span></div>
			<div class="about-profile-row"><i class="fa fa-id-card"></i> MSSV: <span>110121027</span></div>
			<div class="about-profile-row"><i class="fa fa-university"></i> Trường Kỹ Thuật và Công Nghệ</div>
		</div>
	</div>
</div>